{% extends 'base.html' %}

{% block title %}
Costs
{% endblock %}

{% block content %}
<table class="table table-hover table-dark" >
    <thead>
        <tr style="height: 65px;">
            {% for item in project_info_items %}
            <th scope="col">Active Project: {{ item.project_name }}</th>
            <th scope="col">GIS: {{ item.plant_type }} with {{ item.number_of_bays }} bays and {{ item.busbar }}-Busbar</th>
            <th scope="col">Calculation for: {{ item.calc_for }}</th>
            <th scope="col" style="width: 250px;"> {{ cost_form.rental_mode_day(class="form-control", style="width: 150px;")}}</th>
            <th scope="col" style="width: 250px;"> {{ cost_form.rental_mode_week(class="form-control", style="width: 150px;")}}</th>
            <th scope="col">Editor: {{ item.editor }}</th>
            {% endfor %}
        </tr>
    </thead>
</table>
<br>
<table class="table table-hover table-secondary">
    <thead>
        <tr>
            {% for item in project_info_items %}
            <td>--- Supervison? {{ item.supervision }} ---
                Commissioning? {{ item.commissioning }} ---
                Painting? {{ item.protection_class_indoor }} / {{ item.protection_class_outdoor }} ---
                Wiring? {{ item.sec_works }} for {{ item.sec_works_no_of_bays }} bays ---
                Soldering? --- Welding? ---
            </td>
            {% endfor %}
        </tr>
    </thead>
</table>
<form method="POST" class="form-register" style="color:white">
    <div class="col-12">
        <div class="row">
            <div class="col-11">
                <table class="table table-hover table-dark">
                    <h3>Staff costs</h3>
                    <thead>
                        <tr>
                            <th scope="col" class="text-center" style="width:50px">ID</th>
                            <th scope="col" class="text-center" style="width:300px">Service</th>
                            <th scope="col" class="text-right" style="width:150px">Rental units</th>
                            <th scope="col" class="text-left" style="width:200px">Rental mode</th>
                            <th scope="col" class="text-center">Remark</th>
                            <th scope="col" class="text-center" style="width:100px">Unit price</th>
                            <th scope="col" class="text-center" style="width:100px">Sum</th>
                            <th scope="col" class="text-center" style="width:50px"></th>
                        </tr>
                    </thead>
                    <thead>
                        <th><button type="submit" name="StaffCostPlusBtn" value="StaffCostPlusBtn"
                                class="btn btn-outline-success">+</button></th>
                        <th>{{ staff_form.service(class="form-control") }}</th>
                        <th>{{ staff_form.rentalunits(class="form-control", value="0") }}</th>
                        <th>{{ staff_form.rentalmode(class="form-control") }}</th>
                        <th>{{ staff_form.remark(class="form-control", placeholder="Enter text...") }}</th>
                        <th class="text-right"></th>
                        <th class="text-center" style="text-decoration:double underline;">{{ temp_sum_total }} €</th>
                        <th> </th>
                    </thead>
                    <tbody>
                        {% for item in staff_items %}
                        <tr>
                            <td class="text-center">{{ item.id }}</td>
                            <td class="text-center">{{ item.Service }}</td>
                            <td class="text-right">{{ item.RentalUnits }}</td>
                            <td>{{ item.RentalMode }}</td>
                            <!-- <td><input type="range" class="form-range" min="0" max="5" id="customRange2"></td> -->
                            <td class="text-center">{{ item.Remark }}</td>
                            <td class="text-center">{{ item.UnitPrice }} €</td>
                            <td class="text-center">{{ item.Sum }} €</td>
                            <td><button type="input" name="StaffCostMinusBtn" value="{{ item.id }}"
                                    class="center btn btn-outline-danger">-</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br /><br />
                <table class="table table-hover table-dark">
                    <h3>(Installation costs --todo--)</h3>
                    <thead>
                        <tr>
                            <th scope="col" class="text-center" style="width:50px">ID</th>
                            <th scope="col" class="text-center" style="width:500px">Service</th>
                            <th scope="col" class="text-right" style="width:200px">Rental units</th>
                            <th scope="col" class="text-left" style="width:200px">Rental mode</th>
                            <th scope="col" class="text-center">Remark</th>
                            <th scope="col" class="text-center" style="width:100px">Unit price</th>
                            <th scope="col" class="text-center" style="width:100px">Sum</th>
                            <th scope="col" class="text-center" style="width:50px"></th>
                        </tr>
                    </thead>
                    <thead>
                        <th><button type="submit" name="InstallCostPlusBtn" value="InstallCostPlusBtn"
                                class="btn btn-outline-success">+</button></th>
                        <th>{{ install_form.service(class="form-control") }}</th>
                        <th>{{ install_form.rentalunits(class="form-control", value="0") }}</th>
                        <th>{{ install_form.rentalmode(class="form-control") }}</th>
                        <th>{{ install_form.remark(class="form-control", placeholder="Enter text...") }}</th>
                        <th class="text-right"></th>
                        <th class="text-center" style="text-decoration:double underline;">{{ temp_sum_total }} €</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for item in install_items %}
                        <tr>
                            <td class="text-center">{{ item.id }}</td>
                            <td class="text-center">{{ item.Service }}</td>
                            <td class="text-right">{{ item.RentalUnits }}</td>
                            <td>{{ item.RentalMode }}</td>
                            <!-- <td><input type="range" class="form-range" min="0" max="5" id="customRange2"></td> -->
                            <td class="text-center">{{ item.Remark }}</td>
                            <td class="text-center">{{ item.UnitPrice }} €</td>
                            <td class="text-center">{{ item.Sum }} €</td>
                            <td><button type="input" name="InstallCostMinusBtn" value="{{ item.id }}"
                                    class="center btn btn-outline-danger">-</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br /><br />
                <table class="table table-hover table-dark">
                    <h3>example costs</h3>
                    <button class="btn btn-outline btn-success">+</button>
                    <button class="btn btn-outline btn-danger">-</button>
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Service</th>
                            <th scope="col">Unit price</th>
                            <th scope="col">Rental mode</th>
                            <th scope="col">Rental period</th>
                            <th scope="col">Remark</th>
                            <th scope="col">Sum</th>
                        </tr>
                    </thead>
                    <tbody>

                        <td>
                            <!-- {% for item in items %}    
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.Service }}</td>
                        <td>{{ item.UnitPrice }}</td>
                        <td>{{ item.RentalMode }}</td>
                        <td>{{ item.RentalPeriod }}</td>
                        <td>{{ item.Remark }}</td>
                        <td>{{ item.Sum }}</td>
                    </tr>
                {% endfor %} -->
                        </td>
                </table>
            </div>
        </div>
    </div>
</form>


{% endblock %}