{% extends 'base.html' %}

{% block title %}
Costs
{% endblock %}

{% block content %}
<style>
    body {
      background-color: #212121;
      color: white
    }

    @media screen{
        body{
            zoom:100%;
        }
        div.workframe {
            margin: 5mm 5mm 5mm 5mm;
        }

    }
</style>

<table class="table table-hover table-dark" >
    <thead>
        <tr style="height: 65px;">
            {% for item in project_info_items %}
            <th scope="col">Active Project: {{ item.project_name }}</th>
            <th scope="col">GIS: {{ item.plant_type }} with {{ item.number_of_bays }} bays and {{ item.busbar }}-Busbar</th>
            <th scope="col">Calculation for: {{ item.calc_for }}</th>
            <th scope="col">Editor: {{ item.editor }}</th>
            {% endfor %}
        </tr>
    </thead>
</table>
<br>

<div class="workframe">
    <h3>
        <img class="icon" src="/static/img/euro.png" width="4%"> &nbsp; Staff</h3>
    <table class="table table-hover table-dark">
        <th>ID</th>
        <th>Staff</th>
        <th>Rental units</th>
        <tr>{% for item in costs_staff %}
            <td></td>
            <td>{{ item.staff }}</td>
            <td>{{ item.workdays }}</td>
        </tr>{% endfor %}
    </table>
</div>

{% endblock %}