{% extends 'base.html' %}

{% block title %}
Manpower
{% endblock %}

{% block content %}
<table class="table table-hover table-dark" style="height: 100px;">
    <thead>
        <tr style="height: 65px;">
            {% for item in project_info_items %}
            <th scope="col">Active Project: {{ item.project_name }}</th>
            <th scope="col">GIS: {{ item.plant_type }} with {{ item.number_of_bays }} bays and {{ item.busbar }}-Busbar
            </th>
            <th scope="col"> </th>
            <th scope="col" style="width: 250px;"> </th>
            <th scope="col" style="width: 250px;"> </th>
            <th scope="col">Editor: {{ item.editor }}</th>
            {% endfor %}
        </tr>
    </thead>
</table>
<br>
<div class="col-12">
    <div class="row">
        <form method="POST" class="form-register" style="color:white">
            <div class="col-10">
                <h3>Staff</h3>
                <table class="table table-hover table-dark">
                    <thead>
                        <th class="text-center" style="width:38px">ID</th>
                        <th>{{ staff_form.service(class="form-control") }}</th>
                        <th><button type="input" style="width:38px" name="StaffCostPlusBtn" value="StaffCostPlusBtn"
                                class="btn btn-outline-success">+</button></th>
                    </thead>
                    <tbody>
                        {% for item in staff_items %}
                        <tr>
                            <td class="text-center" style="width:38px">{{ item.id }}</td>
                            <td class="text-left">{{ item.Service }}</td>
                            <td><button type="input" style="width:38px" name="StaffCostMinusBtn" value="{{ item.id }}"
                                    class="center btn btn-outline-danger">-</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br /><br />
            </div>
            <div class="col-10">
                <h3>Installation scopes</h3>
                    <table class="table table-hover table-dark">
                        <thead>
                            <th>{{ manpower_form.group_scope_of_work_I(class="form-control") }}</th>
                            <th><button type="submit" style="width:38px" name="InstallationScopePlusBtn"
                                    value="InstallationScopePlusBtn" class="btn btn-outline-success">+</button></th>
                        </thead>
                        <tbody>
                            {% for item in temp_group_scope_of_work_items if item.team == "Supervisor" %}
                            <tr>
                                <td class="text-left">{{ item.group_scope_of_work }}</td>
                                <td><button type="input" style="width:38px" name="InstallationScopeMinusBtn"
                                        value="{{ item.id }}" class="center btn btn-outline-danger">-</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br /><br />
            </div>
            <div class="col-10">
                <h3>Commissioning scopes</h3>
                    <table class="table table-hover table-dark">
                        <thead>
                            <th>{{ manpower_form.group_scope_of_work_C(class="form-control") }}</th>
                            <th><button type="submit" style="width:38px" name="CommissioningScopePlusBtn"
                                    value="CommissioningScopePlusBtn" class="btn btn-outline-success">+</button></th>
                        </thead>
                        <tbody>
                            {% for item in temp_group_scope_of_work_items if item.team == "Commissioning Engineer" %}
                            <tr>
                                <td class="text-left">{{ item.group_scope_of_work }}</td>
                                <td><button type="input" style="width:38px" name="CommissioningScopeMinusBtn"
                                        value="{{ item.id }}" class="center btn btn-outline-danger">-</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br /><br />
            </div>
        </form>
        <div class="col-6">
            <div id="chart" class="chart"></div>
        </div>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript">
            var graphs = {{ graphJSON | safe}};
            Plotly.plot('chart', graphs, {});
        </script>
    </div>
</div>

{% endblock %}