{% extends 'base.html' %}

{% block title %}
Project Info
{% endblock %}

{% block content %}

<body>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="col-2" style="margin-top:20px;">
            {{ save_form.submit(class="btn btn-lg btn-block btn-primary") }}

        </div>
        <br>
        <div class="col-12">
            <div class="row">
                <div class="col-5">
                    <h3>Project head</h3>
                    <table class="table table-dark">
                        <tbody>
                            <tr>
                                <th scope="row">{{ form.project_name.label() }}</th>
                                <td>{{ form.project_name(class="form-control")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.first_name.label() }}</th>
                                <td>{{ form.first_name(class="form-control")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.last_name.label() }}</th>
                                <td>{{ form.last_name(class="form-control")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.department.label() }}</th>
                                <td>{{ form.department(class="form-control")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.country.label() }}</th>
                                <td>{{ form.country(class="form-control") }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.city.label() }}</th>
                                <td>{{ form.city(class="form-control") }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.customer.label() }}</th>
                                <td>{{ form.customer(class="form-control")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.order_indicator.label() }}</th>
                                <td>{{ form.order_indicator(class="form-control" )}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-3">
                    <h3>Further information</h3>
                    <table class="table table-dark">
                        <tbody>
                            <tr>
                                <th scope="row">{{ form.calc_for.label() }}</th>
                                <td>{{ form.calc_for(class="form-control", style="width: 150px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.validity.label() }}</th>
                                <td>{{ form.validity(class="form-control", style="width: 100px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.inquiry_date.label() }}</th>
                                <td>{{ form.inquiry_date(class="form-control", style="width: 200px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.offer_until.label()}}</th>
                                <td>{{ form.offer_until(class="form-control", style="width: 200px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.kick_off_meeting.label()}}</th>
                                <td>{{ form.kick_off_meeting(class="form-control", style="width: 200px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.editor.label() }}</th>
                                <td>{{ form.editor(class="form-control") }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.date_of_editing.label()}}</th>
                                <td>{{ form.date_of_editing(class="form-control", style="width: 200px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.project_id.label() }}</th>
                                <td>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">ID</div>
                                        </div>
                                        {{ form.project_id(class="form-control") }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-1">
                    <h3>Remark</h3>
                    <table class="table table-dark" style="width: 500px; height: 500px;">
                        <tbody>
                            <tr>
                                <td>{{ form.remark(class="form-control", style="width: 480px; height: 480px;",
                                    row="19")}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <h3>Plant information</h3>
                    <table class="table table-dark">
                        <tbody>
                            <tr>
                                <th scope="row">{{ form.plant_type.label() }}</th>
                                <td>{{ form.plant_type(class="form-control") }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.busbar.label() }}</th>
                                <td>{{ form.busbar(class="form-control") }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.number_of_bays.label() }}</th>
                                <td>{{ form.number_of_bays(class="form-control") }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.gascomp_empty.label() }}</th>
                                <td>{{ form.gascomp_empty(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.gascomp_pref.label() }}</th>
                                <td>{{ form.gascomp_pref(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.assembly_indoor.label() }}</th>
                                <td>{{ form.assembly_indoor(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.assembly_outdoor.label() }}</th>
                                <td>{{ form.assembly_outdoor(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.harting_plugs.label() }}</th>
                                <td>{{ form.harting_plugs(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.ditec_seals.label() }}</th>
                                <td>{{ form.ditec_seals(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.steel_supp_s.label() }}</th>
                                <td>{{ form.steel_supp_s(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.steel_supp_m.label() }}</th>
                                <td>{{ form.steel_supp_m(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.steel_supp_l.label() }}</th>
                                <td>{{ form.steel_supp_l(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.drives.label() }}</th>
                                <td>{{ form.drives(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.core_drilling.label() }}</th>
                                <td>{{ form.core_drilling(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.converter.label() }}</th>
                                <td>{{ form.converter(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.outdoor_bushing.label() }}</th>
                                <td>{{ form.outdoor_bushing(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-3">
                    <h3>General information</h3>
                    <table class="table table-dark">
                        <tbody>
                            <tr>
                                <th scope="row">{{ form.workdays_per_week.label() }}</th>
                                <td>{{ form.workdays_per_week(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.hours_per_day.label() }}</th>
                                <td>{{ form.hours_per_day(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.number_of_site_manager.label() }}</th>
                                <td>{{ form.number_of_site_manager(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.number_of_commissioning_engineers.label() }}</th>
                                <td>{{ form.number_of_commissioning_engineers(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.transport_weeks_tools.label() }}</th>
                                <td>{{ form.transport_weeks_tools(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.transport_weeks_HVTE.label() }}</th>
                                <td>{{ form.transport_weeks_HVTE(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.arrival_departure_days.label() }}</th>
                                <td>{{ form.arrival_departure_days(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.country_factor.label() }}</th>
                                <td>{{ form.country_factor(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.customer_training_days.label() }}</th>
                                <td>{{ form.customer_training_days(class="form-control",
                                    placeholder="")}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-3">
                    <h3>Further inquiry information</h3>
                    <table class="table table-dark">
                        <tbody>
                            <tr>
                                <th scope="row">{{ form.supervision.label() }}</th>
                                <td>{{ form.supervision(class="form-control", style="width: 100px;") }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.commissioning.label() }}</th>
                                <td>{{ form.commissioning(class="form-control", style="width: 100px;") }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.mpd.label() }}</th>
                                <td>{{ form.mpd(class="form-control", style="width: 100px;") }} {{
                                    form.language(class="form-control", style="width: 120px;")}}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.tools.label() }}</th>
                                <td>{{ form.tools(class="form-control", style="width: 100px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.psd.label() }}</th>
                                <td>{{ form.psd(class="form-control", style="width: 100px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.hv_test_equipment.label() }}</th>
                                <td>{{ form.hv_test_equipment(class="form-control", style="width: 100px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.pd_measurement.label() }}</th>
                                <td>{{ form.pd_measurement(class="form-control", style="width: 320px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.actas.label() }}</th>
                                <td>{{ form.actas(class="form-control", style="width: 330px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.transport.label() }}</th>
                                <td>{{ form.transport(class="form-control", style="width: 100px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.indoor_crane.label() }}</th>
                                <td>{{ form.indoor_crane(class="form-control", style="width: 100px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.protection_class_indoor.label() }}</th>
                                <td>{{ form.protection_class_indoor(class="form-control", style="width: 200px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.protection_class_outdoor.label() }}</th>
                                <td>{{ form.protection_class_outdoor(class="form-control", style="width: 200px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.earthing.label() }}</th>
                                <td>{{ form.earthing(class="form-control", style="width: 100px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.sec_works.label() }} / Bays</th>
                                <td>{{ form.sec_works(class="form-control", style="width: 200px;")}}
                                    {{ form.sec_works_no_of_bays(class="form-control", style="width: 100px;")}}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.libo.label() }}</th>
                                <td>{{ form.libo(class="form-control", style="width: 100px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.customer_training.label() }}</th>
                                <td>{{ form.customer_training(class="form-control", style="width: 100px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.dc_supply.label() }}</th>
                                <td>{{ form.dc_supply(class="form-control", style="width: 100px;")}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ form.hv_plugs.label() }} / Size</th>
                                <td>{{ form.hv_plugs(class="form-control", style="width: 150px;")}} {{ form.hv_plug_size(class="form-control", style="width: 100px;")}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</body>

{% endblock %}